<div class="home-feeds">
    <div class="row">
        <div class="col-md-8">
            <div class="feeds-wrapper">
                <div class="mb-2">
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image me-3">
                            <img src="assets/image/logo.svg" alt="" width="50" height="50" class="rounded">
                          </div>
                          <div>
                            <mat-card-title class="fs-5 fw-bold">Careeriz</mat-card-title>
                            <small class="d-block text-muted fw-bold">Lorem Ipsum is simply dummy text of the printing</small>
                          </div>
                        </mat-card-header>
                        <p class="px-3 mb-2 mt-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <img mat-card-image src="https://placehold.co/600x400" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <div class="d-flex justify-content-between w-100 px-5">
                            <a class="d-flex align-items-center text-decoration-none text-black cursor-pointer">
                              <i class="far fa-thumbs-up fs-5 me-1"></i>
                              <span>Like</span>
                            </a>
                            <a class="d-flex align-items-center text-decoration-none text-black cursor-pointer">
                              <i class="far fa-comment fs-5 mr-1 me-1"></i>
                              <span>Comments</span>
                            </a>
                            <a class="d-flex align-items-center text-decoration-none text-black cursor-pointer">
                              <i class="far fa-share-square fs-5 me-1"></i>
                              <span>Share</span>
                            </a>
                          </div>
                        </mat-card-content>
                        <!-- <mat-card-actions>
                            
                        </mat-card-actions> -->
                    </mat-card>
                </div>
                <div class="mb-2">
                  <mat-card class="example-card" appearance="outlined">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image me-3">
                          <img src="assets/image/logo.svg" alt="" width="50" height="50" class="rounded">
                        </div>
                        <div>
                          <mat-card-title class="fs-5 fw-bold">Careeriz</mat-card-title>
                          <small class="d-block text-muted fw-bold">Lorem Ipsum is simply dummy text of the printing</small>
                        </div>
                      </mat-card-header>
                      <p class="px-3 mb-2 mt-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                      <img mat-card-image src="https://placehold.co/600x400" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                        <div class="d-flex justify-content-between w-100 px-5">
                          <a class="d-flex align-items-center text-decoration-none text-black cursor-pointer">
                            <i class="far fa-thumbs-up fs-5 me-1"></i>
                            <span>Like</span>
                          </a>
                          <a class="d-flex align-items-center text-decoration-none text-black cursor-pointer">
                            <i class="far fa-comment fs-5 mr-1 me-1"></i>
                            <span>Comments</span>
                          </a>
                          <a class="d-flex align-items-center text-decoration-none text-black cursor-pointer">
                            <i class="far fa-share-square fs-5 me-1"></i>
                            <span>Share</span>
                          </a>
                        </div>
                      </mat-card-content>
                      <!-- <mat-card-actions>
                          
                      </mat-card-actions> -->
                  </mat-card>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title class="display-6 fw-bold">Recent Job</mat-card-title>
                </mat-card-header>
              <mat-card-content class="px-2 py-2 mt-2">
                  <div class="border-bottom p-2 pb-2 mb-2">
                    <div>
                      <h5 class="fs-6 my-0 lh-1 fw-bold text-muted">UI Designer</h5>
                      <small class="my-0 fw-normal">LMES Academy</small>
                    </div>
                    <div class="mt-1">
                      <small class="fw-normal">Position Type: Full Time</small>
                    </div>
                    <div>
                        <div class="mt-1">
                          <small class="pe-1 me-1 border-end border-2 fw-normal"> 2-4Yrs</small>
                          <small class="pe-1 me-1 fw-normal"> Chennai</small>
                        </div>
                        
                    </div>
                    <!-- <div class="">
                        <small class="pe-1">Figma</small>
                        <small class="pe-1">Adobe Xd</small>
                        <small class="pe-1">Sketch</small>
                        <small class="pe-1">UI Design</small>
                        <small class="pe-1">Icon Design</small>
                        
                    </div> -->
                  </div>
                  <div class="border-bottom p-2 pb-2 mb-2">
                    <div>
                      <h5 class="fs-6 my-0 lh-1 fw-bold text-muted">Java Developer</h5>
                      <small class="my-0 fw-normal">LMES Academy</small>
                    </div>
                    <div class="mt-1">
                      <small class="fw-normal">Position Type: Full Time</small>
                    </div>
                    <div>
                        <div class="mt-1">
                          <small class="pe-1 me-1 border-end border-2 fw-normal"> 2-4Yrs</small>
                          <small class="pe-1 me-1 fw-normal"> Chennai</small>
                        </div>
                        
                    </div>
                    
                  </div>
                  <div class="border-bottom p-2 pb-2 mb-2">
                    <div>
                      <h5 class="fs-6 my-0 lh-1 fw-bold text-muted">Angular Developer</h5>
                      <small class="my-0 fw-normal">LMES Academy</small>
                    </div>
                    <div class="mt-1">
                      <small class="fw-normal">Position Type: Full Time</small>
                    </div>
                    <div>
                        <div class="mt-1">
                          <small class="pe-1 me-1 border-end border-2 fw-normal"> 2-4Yrs</small>
                          <small class="pe-1 me-1 fw-normal"> Chennai</small>
                        </div>
                        
                    </div>
                    
                  </div>
                  <div class="p-2 pb-2 mb-2">
                    <div>
                      <h5 class="fs-6 my-0 lh-1 fw-bold text-muted">Node Developer</h5>
                      <small class="my-0 fw-normal">LMES Academy</small>
                    </div>
                    <div class="mt-1">
                      <small class="fw-normal">Position Type: Full Time</small>
                    </div>
                    <div>
                        <div class="mt-1">
                          <small class="pe-1 me-1 border-end border-2 fw-normal"> 2-4Yrs</small>
                          <small class="pe-1 me-1 fw-normal"> Chennai</small>
                        </div>
                        
                    </div>
                    
                  </div>
              </mat-card-content>
            </mat-card>
            
        </div>
    </div>
</div>
