mat-form-field {
    width: 100%;
}

.profile-picture-upload {
    display: flex;
    align-items: baseline;
}

.image-preview {
    margin-top: 15px;

    img {
        max-width: 150px;
        border-radius: 50%;
    }
}

.file-input {
    width: 100%;
    max-width: 300px;
}