<mat-card appearance="outlined">
    <mat-card-header class="mt-3">
        <div class="container">
            <mat-card-title>Fill up the details manually</mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content class="mt-4">
        <form action="">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Middle Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="pat@example.com" required />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input matInput type="tel">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Address</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Differently abled</mat-label>
                            <mat-select>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select>
                                <mat-option value="male">Male</mat-option>
                                <mat-option value="female">Female</mat-option>
                                <mat-option value="transgender">TransGender</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Marital Status</mat-label>
                            <mat-select>
                                <mat-option value="married">Married</mat-option>
                                <mat-option value="unmarried">Unmarried</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Any Work Permit Holding?</mat-label>
                            <mat-select>
                                <mat-option value="yes">Yes</mat-option>
                                <mat-option value="no">No</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <!-- Input field showing the selected values -->
                            <mat-select placeholder="Language Knows" multiple [(ngModel)]="selectedItems">
                                <!-- Loop through the dropdownItems array and add a checkbox for each option -->
                                <mat-option *ngFor="let item of dropdownItems" [value]="item">
                                    {{ item }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- Display the selected values as comma-separated string -->
                        <div *ngIf="selectedItems.length > 0">
                            Selected values: {{ selectedItems.join(', ') }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-picture-upload">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Profile Picture" [value]="fileName" readonly>
                                <!-- Clear (Cancel) button inside the input -->
                                <button [hidden]="!fileName" mat-icon-button matSuffix (click)="onClear()">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <button mat-icon-button matSuffix (click)="fileInput.click()">
                                    <mat-icon>upload</mat-icon>
                                </button>

                            </mat-form-field>
                            <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden #fileInput>



                            <!-- <div [hidden]="!previewUrl" class="image-preview">
                                <img [src]="previewUrl" alt="Profile Picture" />
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <!-- Input field showing the selected values -->
                            <mat-select placeholder="Diverse candidate opportunities" multiple
                                [(ngModel)]="selectedOpportunities">
                                <!-- Loop through the dropdownItems array and add a checkbox for each option -->
                                <mat-option *ngFor="let option of dropdownOpportunities" [value]="option">
                                    {{ option }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- Display the selected values as comma-separated string -->
                        <div *ngIf="selectedItems.length > 0">
                            Selected values: {{ selectedItems.join(', ') }}
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </mat-card-content>
</mat-card>


<!-- <mat-card appearance="outlined" class="mt-5">
    <mat-card-header class="mt-3">
        <div class="container">
            <mat-card-title>Fill up the details manually</mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content class="mt-4">
        <form action="">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Total Work Experience (Years)</mat-label>
                            <input matInput type="number" min="0" placeholder="Years">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Total Work Experience (Months)</mat-label>
                            <input matInput type="number" min="0" max="11" placeholder="Months">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Gap in Experience (Months)</mat-label>
                            <input matInput type="number" min="0" max="11" placeholder="Months">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Gap in Experience (Months)</mat-label>
                            <input matInput type="number" min="0" max="11" placeholder="Months">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Profile Summary</mat-label>
                            <textarea matInput placeholder="Enter your profile summary here..." rows="3"
                                [(ngModel)]="profileSummary"></textarea>
                            <mat-hint>Provide a brief overview of your professional background, skills, and
                                achievements.</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <mat-card-header class="mt-3">
            <mat-card-title>Current Company</mat-card-title>
        </mat-card-header>
        <form action="">
            <div class="container">
                <div class="mt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Company Name</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Designation</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Industry Domain</mat-label>
                                <mat-select placeholder="Select industry domain">
                                    <mat-option *ngFor="let domain of industryDomains" [value]="domain">
                                        {{ domain }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Start From Date</mat-label>
                                <input matInput [matDatepicker]="picker">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Job Mode</mat-label>
                                <mat-select>
                                    <mat-option value="option1">Remote</mat-option>
                                    <mat-option value="option2">Hybrid</mat-option>
                                    <mat-option value="option3">In-office</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Job type</mat-label>
                                <mat-select>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Roles & Responsibility</mat-label>
                                <textarea matInput></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Project Details</mat-label>
                                <textarea matInput></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">                            
                            <mat-form-field appearance="outline">
                                <mat-label>Clients Handled / Onboarded</mat-label>
                                <input matInput placeholder="Enter number of clients" type="number">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">                            
                            <mat-form-field appearance="outline">
                                <mat-label>Team Handled</mat-label>
                                <input matInput placeholder="Enter team size" type="number">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">                           
                            <mat-form-field appearance="outline">
                                <mat-label>Key Skill Set</mat-label>
                                <textarea matInput placeholder="Enter key skills" rows="3"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </mat-card-content>
</mat-card> -->

<mat-card appearance="outlined" class="mt-3">
    <mat-card-header class="mt-3">
        <div class="container">
            <mat-card-title>Educational Background</mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content class="mt-3">
        <form action="">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Degree / Schooling</mat-label>
                            <input matInput placeholder="Enter your degree/schooling" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>University</mat-label>
                            <input matInput placeholder="Enter your university name" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Year of Passing</mat-label>
                            <input matInput placeholder="YYYY" required pattern="\d{4}">
                            <mat-error>Invalid year</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Percentage</mat-label>
                            <input matInput type="number" placeholder="Enter percentage" required min="0" max="100">
                            <mat-hint>Enter a value between 0 and 100</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Degree - Project Details</mat-label>
                            <textarea matInput placeholder="Enter details about your degree project"
                                rows="3"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Master - Project Details</mat-label>
                            <textarea matInput placeholder="Enter details about your master's project"
                                rows="3"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Campus Placement</mat-label>
                            <mat-select [(value)]="placementStatus" required>
                                <mat-option value="got">Got</mat-option>
                                <mat-option value="not">Not</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="placementStatus === 'got'">
                            <mat-label>Company Name</mat-label>
                            <input matInput placeholder="Enter the company name" required>
                          </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-header class="mt-3">
        <div class="container">
            <mat-card-title>Desired career profile</mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content class="mt-3">
        <form action="">
            <div class="container">
                
            </div>
        </form>
    </mat-card-content>
</mat-card>