

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    border-color: black;
}

mat-form-field {
    width: 100%;
}