mat-form-field {
    width: 100%;
}

.logo {
    max-width: 50%;
    margin: 0 auto;
    display: block;
}

.bg-orange {
    background: #de6d2e;
}

button{
    width: 100%;
}

.btn-outline-orange {    
    color: #de6d2e;
    border-color: #de6d2e;
}

.btn-outline-orange:hover {
    background-color: #de6d2e;
    color: white;
}