<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container">
        <a class="navbar-brand" href="#">
            <!-- <img src="assets/image/logo.svg" alt="logo" class="logo"> -->
            <h1 class="fs-3 my-0 text-orange fw-bold lh-base">Careeriz</h1>
        </a>
        <div class="d-flex">
            <div>
                <i class="fas fa-sign-out-alt text-orange fs-5"></i>
            </div>
        </div>
    </div>
</nav>
<div class="job-description pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mt-5">
                <mat-card class="bg-light main-mat-card">
                    <div class="container">
                        <div class="job-notify">
                            <mat-card-header>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="border date-border bg-white">
                                            <p class="apply-date">20 Days Ago</p>
                                        </div>

                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="border date-border bg-white">
                                            <p><i class="fa-regular fa-bookmark"></i> Save</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content class="job-main-desc">
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="main-job-title mb-1">Senior Software Engineer</p>
                                        <p class="job-desc">Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit. Qui, excepturi quisquam aspernatur saepe
                                            corrupti
                                            maiores
                                            accusantium distinctio,</p>
                                    </div>
                                    <div class="col-md-2 text-end">
                                        <img src="https://placehold.co/50x50/png" alt="" class="me-2">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-4">
                                        <div class="d-flex sub-details">
                                            <div><i class="fa-solid fa-suitcase"></i></div>
                                            <div>
                                                <p class="mb-0 fw-bold">Experience</p>
                                                <p>5-8 Yrs</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-flex sub-details">
                                            <div><i class="fa-solid fa-indian-rupee-sign"></i></div>
                                            <div>
                                                <p class="mb-0 fw-bold">Salary</p>
                                                <p>Not disclosed</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-flex sub-details">
                                            <div><i class="fa-solid fa-location-dot"></i></div>
                                            <div>
                                                <p class="mb-0 fw-bold">Location</p>
                                                <p>Hybrid - Bengaluru</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="mt-4">
                    <div class="container">
                        <div class="job-notify">
                            <mat-card-header>
                                <p class="job-title">Job description</p>
                            </mat-card-header>
                            <mat-card-content>

                                <p class="job-desc mt-2">Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Qui, excepturi quisquam aspernatur saepe corrupti
                                    maiores
                                    accusantium distinctio,</p>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet consectetur </li>
                                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sequi </li>
                                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta </li>
                                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia facilis</li>
                                    <li>Lorem ipsum dolor sit amet consectetur </li>
                                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sequi </li>
                                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta </li>
                                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia facilis</li>
                                </ol>

                                <div>
                                    <p><b>Role:</b> Tax Analyst</p>
                                    <p><b>Industry Type:</b> Auto Components
                                    </p>
                                    <p><b>Department:</b> Finance & Accounting
                                    </p>
                                </div>
                                <div class="mt-3">
                                    <p><b>Education</b></p>
                                    <p class="mb-0"><b>UG:</b> Any Graduate</p>
                                    <p><b>PG:</b>Any Postgraduate</p>
                                </div>
                                <hr>
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="mt-4">
                    <div class="container">
                        <div class="job-notify">
                            <mat-card-header>
                                <p class="job-title">About company</p>
                            </mat-card-header>
                            <mat-card-content>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsam quo quam dolores
                                    similique odio? Consequuntur itaque dicta dignissimos adipisci similique accusantium
                                    earum ea autem? Non numquam facere tempore culpa?</p>
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
                <div class="similar-jobs mt-3">
                    <div class="container">
                        <p class="job-title mb-3 fw-bold main-job-title">Similar Jobs</p>
                    </div>
                    <mat-card class="mt-3 main-mat-card">
                        <div class="container">
                            <div class="job-notify">
                                <mat-card-header>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="border date-border bg-white">
                                                <p class="apply-date">29 Days Ago</p>
                                            </div>

                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="border date-border bg-white">
                                                <p><i class="fa-solid fa-location-dot"></i> Pune</p>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-header>
                                <mat-card-content class="job-main-desc">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="mb-0">Accenture</p>
                                            <p class="mb-1"><b>Management Trainee</b></p>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <img src="https://placehold.co/50x50/png" alt="">
                                        </div>
                                    </div>

                                    <div class="d-flex posted-date mt-2">
                                        <div class="border skill-border bg-white me-2">
                                            <p>financial analysis <i class="fa-solid fa-arrow-trend-up"></i></p>
                                        </div>
                                        <div class="border skill-border bg-white me-2">
                                            <p>journal entries <i class="fa-solid fa-arrow-trend-up"></i></p>
                                        </div>
                                        <div class="border skill-border bg-white me-2">
                                            <p>forecasting <i class="fa-solid fa-arrow-trend-up"></i></p>
                                        </div>

                                    </div>
                                </mat-card-content>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card class="mt-3 main-mat-card">
                        <div class="container">
                            <div class="job-notify">
                                <mat-card-header>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="border date-border bg-white">
                                                <p class="apply-date">29 Days Ago</p>
                                            </div>

                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="border date-border bg-white">
                                                <p><i class="fa-solid fa-location-dot"></i> Pune</p>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-header>
                                <mat-card-content class="job-main-desc">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="mb-0">Accenture</p>
                                            <p class="mb-1"><b>Management Trainee</b></p>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <img src="https://placehold.co/50x50/png" alt="">
                                        </div>
                                    </div>

                                    <div class="d-flex posted-date mt-2">
                                        <div class="border skill-border bg-white me-2">
                                            <p>financial analysis <i class="fa-solid fa-arrow-trend-up"></i></p>
                                        </div>
                                        <div class="border skill-border bg-white me-2">
                                            <p>journal entries <i class="fa-solid fa-arrow-trend-up"></i></p>
                                        </div>
                                        <div class="border skill-border bg-white me-2">
                                            <p>forecasting <i class="fa-solid fa-arrow-trend-up"></i></p>
                                        </div>

                                    </div>
                                </mat-card-content>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="col-md-5 mt-5">
                <p class="job-title mb-3 fw-bold main-job-title">Roles from top companies</p>
                <mat-card class="main-mat-card job-main-desc">
                    <div class="container">
                        <div class="job-notify">
                            <mat-card-header class="">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="d-flex">
                                            <div class="me-2">
                                                <img src="https://placehold.co/40x40/png" alt="">
                                            </div>
                                            <div class="sub-details">
                                                <p class="mb-1"><b>Management Trainee</b></p>
                                                <p class="mb-0">Meta</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <p><i class="fa-regular fa-bookmark"></i></p>
                                    </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content class="mt-4">
                                <div class="d-flex posted-date mt-2">
                                    <div class="border skill-border border-color-1 bg-white me-2">
                                        <p>Entry-level</p>
                                    </div>
                                    <div class="border skill-border border-color-2 bg-white me-2">
                                        <p>Full Time</p>
                                    </div>      
                                </div>
                                <div class="job-desc mt-3">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, vero beatae? Eaque ad nostrum</p>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-5 posted-date">
                                        <p><span class="fw-bold">$250</span>/hr</p>
                                    </div>
                                    <div class="col-md-7 text-right posted-date">
                                        <p><i class="fa-regular fa-clock"></i> Posted 5 days ago</p>
                                    </div>
                                </div>
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="main-mat-card job-main-desc mt-3">
                    <div class="container">
                        <div class="job-notify">
                            <mat-card-header class="">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="d-flex">
                                            <div class="me-2">
                                                <img src="https://placehold.co/40x40/png" alt="">
                                            </div>
                                            <div class="sub-details">
                                                <p class="mb-1"><b>Sr. UX Designer</b></p>
                                                <p class="mb-0">Netflix</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <p><i class="fa-regular fa-bookmark"></i></p>
                                    </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content class="mt-4">
                                <div class="d-flex posted-date mt-2">
                                    <div class="border skill-border border-color-1 bg-white me-2">
                                        <p>Entry-level</p>
                                    </div>
                                    <div class="border skill-border border-color-2 bg-white me-2">
                                        <p>Part Time</p>
                                    </div> 
                                    <div class="border skill-border border-color-3 bg-white me-2">
                                        <p>Remote</p>
                                    </div>      
                                </div>
                                <div class="job-desc mt-3">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, vero beatae? Eaque ad nostrum</p>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-5 posted-date">
                                        <p><span class="fw-bold">$250</span>/hr</p>
                                    </div>
                                    <div class="col-md-7 text-right posted-date">
                                        <p><i class="fa-regular fa-clock"></i> Posted 5 days ago</p>
                                    </div>
                                </div>
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="main-mat-card job-main-desc mt-3">
                    <div class="container">
                        <div class="job-notify">
                            <mat-card-header class="">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="d-flex">
                                            <div class="me-2">
                                                <img src="https://placehold.co/40x40/png" alt="">
                                            </div>
                                            <div class="sub-details">
                                                <p class="mb-1"><b>Product Designer</b></p>
                                                <p class="mb-0">Microsoft</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <p><i class="fa-regular fa-bookmark"></i></p>
                                    </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content class="mt-4">
                                <div class="d-flex posted-date mt-2">
                                    <div class="border skill-border border-color-1 bg-white me-2">
                                        <p>Entry-level</p>
                                    </div>
                                    <div class="border skill-border border-color-2 bg-white me-2">
                                        <p>Full Time</p>
                                    </div>      
                                </div>
                                <div class="job-desc mt-3">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, vero beatae? Eaque ad nostrum</p>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-5 posted-date">
                                        <p><span class="fw-bold">$250</span>/hr</p>
                                    </div>
                                    <div class="col-md-7 text-right posted-date">
                                        <p><i class="fa-regular fa-clock"></i> Posted 5 days ago</p>
                                    </div>
                                </div>
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
                <!-- <mat-card>
                    <div class="container">
                        <div class="job-notify">
                            
                            <mat-card-header>
                                
                            </mat-card-header>
                            <div class="border mt-2 mb-3 p-4 rounded-2">
                                <mat-card-header>
                                    <p class="job-title">Senior Software Engineer</p>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>Flipkart</p>
                                    <p><i class="fa-solid fa-suitcase"></i> 5-8 Yrs | <i
                                            class="fa-solid fa-indian-rupee-sign"></i> Not disclosed | <i
                                            class="fa-solid fa-location-dot"></i> Hybrid - Bengaluru</p>
                                    <p class="mt-3">Hiring for one of these companies</p>
                                    <div>
                                        <img src="https://placehold.co/50x50/png" alt="" class="me-2">
                                        <img src="https://placehold.co/50x50/png" alt="" class="me-2">
                                        <img src="https://placehold.co/50x50/png" alt="" class="me-2">
                                    </div>
                                </mat-card-content>
                                <hr>
                                <mat-card-header>
                                    <p class="job-title">Senior Software Engineer</p>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>Flipkart</p>
                                    <p><i class="fa-solid fa-suitcase"></i> 5-8 Yrs | <i
                                            class="fa-solid fa-indian-rupee-sign"></i> Not disclosed | <i
                                            class="fa-solid fa-location-dot"></i> Hybrid - Bengaluru</p>
                                    <p class="mt-3">Hiring for one of these companies</p>
                                    <div>
                                        <img src="https://placehold.co/50x50/png" alt="" class="me-2">
                                        <img src="https://placehold.co/50x50/png" alt="" class="me-2">
                                        <img src="https://placehold.co/50x50/png" alt="" class="me-2">
                                    </div>
                                </mat-card-content>
                            </div>
                        </div>
                    </div>
                </mat-card> -->
                <p class="job-title mb-3 fw-bold main-job-title mt-4">Jobs you might be interested in</p>
                <mat-card class="main-mat-card job-main-desc">
                    <div class="container">
                        <div class="job-notify">
                            <mat-card-header class="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="mb-1"><b>Data Analyst</b></p>
                                        <p class="mb-0">Paypal</p>                                        
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <img src="https://placehold.co/50x50/png" alt="">
                                    </div>
                                </div>                                
                            </mat-card-header>
                            <mat-card-content class="mt-3">                                
                                <div class="job-desc">
                                    <p><i class="fa-solid fa-location-dot"></i> Bengaluru</p>
                                    <p><i class="fa-solid fa-indian-rupee-sign"></i> Not Disclosed</p>
                                    <p><i class="fa-regular fa-clock"></i> Posted 5 days ago</p>
                                </div>
                                <hr>
                                <div class="row mt-3">
                                    <div class="col-md-8">
                                        <button class="btn btn-danger btn-sm">Apply now</button>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <button class="btn btn-success btn-sm"><i class="fa-solid fa-heart"></i></button>
                                    </div>
                                </div>                                
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="main-mat-card job-main-desc">
                    <div class="container">
                        <div class="job-notify">
                            <mat-card-header class="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="mb-1"><b>Digital Marketer</b></p>
                                        <p class="mb-0">Meesho</p>                                        
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <img src="https://placehold.co/50x50/png" alt="">
                                    </div>
                                </div>                                
                            </mat-card-header>
                            <mat-card-content class="mt-3">                                
                                <div class="job-desc">
                                    <p><i class="fa-solid fa-location-dot"></i> Bengaluru</p>
                                    <p><i class="fa-solid fa-indian-rupee-sign"></i> Not Disclosed</p>
                                    <p><i class="fa-regular fa-clock"></i> Posted 5 days ago</p>
                                </div>
                                <hr>
                                <div class="row mt-3">
                                    <div class="col-md-8">
                                        <button class="btn btn-danger btn-sm">Apply now</button>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <button class="btn btn-success btn-sm"><i class="fa-solid fa-heart"></i></button>
                                    </div>
                                </div>                                
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
                <!-- <mat-card class="mt-3">
                    <div class="container">
                        <div class="job-notify">
                            <mat-card-header>
                                <p class="job-title">Jobs you might be interested in</p>
                            </mat-card-header>
                            <div class="mat-card-content mt-3">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="mb-1"><b>MIS Executive</b></p>
                                            <p>Wipro</p>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <img src="https://placehold.co/50x50/png" alt="">
                                        </div>
                                    </div>
                                    <p>3.8 | 450 reviews</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><i class="fa-solid fa-location-dot"></i> Pune</p>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <p>Posted 29 days ago</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="mb-1"><b>MIS Executive</b></p>
                                            <p>Wipro</p>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <img src="https://placehold.co/50x50/png" alt="">
                                        </div>
                                    </div>
                                    <p>3.8 | 450 reviews</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><i class="fa-solid fa-location-dot"></i> Pune</p>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <p>Posted 29 days ago</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="mb-1"><b>MIS Executive</b></p>
                                            <p>Wipro</p>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <img src="https://placehold.co/50x50/png" alt="">
                                        </div>
                                    </div>
                                    <p>3.8 | 450 reviews</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><i class="fa-solid fa-location-dot"></i> Pune</p>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <p>Posted 29 days ago</p>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card> -->
            </div>
        </div>
    </div>
</div>