nav{
    z-index: 99;
}


mat-form-field {
    width: 100%;
}

.profile-picture-upload {
    display: flex;
    align-items: baseline;
}

.image-preview {
    margin-top: 15px;

    img {
        max-width: 150px;
        border-radius: 50%;
    }
}

.file-input {
    width: 100%;
    max-width: 300px;
}

body {
    min-height: 100vh;
    padding-left: 250px;
    /* Adjust the padding to the width of the sidebar */
}

.sidebar {
    width: 250px;
    position: fixed;
    // top: 0;
    left: 0;
    height: 100%;
    background-color: #204253;
    padding: 15px;
    color: white;
}

.content {
    margin-left: 250px;
    /* Adjust the margin to the width of the sidebar */
}

// For Vertical Stepper

.stepper {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stepper-item {
    display: flex;
    align-items: center;
    position: relative;
    // padding-left: 0px;
    margin-bottom: 20px;
}

.stepper-item:before {
    content: '';
    position: absolute;
    top: 30px;
    left: 14px;
    width: 2px;
    height: 70%;
    background-color: #ccc;
}

.stepper-item:last-child:before {
    height: 20px;
}

.stepper-item .step-counter {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #de6d2e;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    font-weight: bold;
}

.stepper-item.active .step-counter {
    background-color: #de6d2e;
}

.stepper-item.completed .step-counter {
    background-color: #28a745;
}

.stepper-item.completed:before {
    background-color: #28a745;
}

.stepper-item .step-label {
    font-weight: bold;
    color: white;
}

.stepper-item.active .step-label {
    color: white;
}

.stepper-item.completed .step-label {
    color: white;
}

.sidebar-footer{
    position: fixed;
    bottom: 0px;
}

.btn-outline-dark {
    color: #204253;
    border-color: #204253;
}

.btn-outline-dark:hover {
    background-color: #204253;
    color: white;
}



