/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';





html,
body {
    height: 100%;
}

body {
    margin: 0;
    // font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
}

.mat-typography,
.mat-mdc-tab,
.mat-mdc-card-title,
.mat-headline-medium,
.mat-typography .mat-headline-medium,
.mat-typography h5,
.mat-mdc-checkbox .mat-internal-form-field,
.mat-expansion-panel-header,
.mat-expansion-panel-content
{
    font: 15px 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif !important;
}


.btn-orange {
    background-color: #de6d2e;
    color: #fff;
}

.btn-orange:hover {
    border: 1px solid #de6d2e;
    color: #de6d2e;
}

.bg-orange {
    background-color: #de6d2e;
}

.text-orange {
    color: #de6d2e;
}

.btn-outline-orange {
    color: #de6d2e;
    border-color: #de6d2e;
}

.btn-outline-orange:hover {
    background-color: #de6d2e;
    color: white;
}