

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';





html, body { height: 100%; }
body { margin: 0; font-family: "Open Sans", sans-serif; }
.mat-typography,
.mat-mdc-tab,
.mat-mdc-card-title{
    font: 15px 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif !important;
}


.btn-orange{
    background-color: #de6d2e;
    color: #fff;
}
.btn-orange:hover{
    border: 1px solid #de6d2e;
    color: #de6d2e;
}
.bg-orange{
    background-color: #de6d2e;
}