/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.btn-orange{
    background-color: #de6d2e;
    color: #fff;
}
.btn-orange:hover{
    border: 1px solid #de6d2e;
    color: #de6d2e;
}
.bg-orange{
    background-color: #de6d2e;
}